
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

html {
    overflow: hidden;
}

#page-container {
    background: rgba(195, 230, 248, 1);
}

.navbar-head {
    border-radius: 0;
    margin-bottom: 0;
    height: 3.7em;
}

.row-content {
    height: calc(100% - 3.7em - 10px);
    margin-right: 0;
}

.main-content-height, .nav-left-height, .nav-ul-height, .div-content {
    height: 100%;
}

.div-content {
    margin-top: 10px;
}

.nav-ul-height {
    background-color: #222;
    padding-top: 10px;
}

.navbar-logo {
    height: 3.6em;
    width: 16em;
}

.img-logo {
    padding: 5px 6em;
}

.button-content, .breadcrumb-content {
    margin: 3px 0;
    height: 3.3em;
}

.breadcrumb {
    background:url("/images/background2.png") center center no-repeat;
    background-size: cover;
}

ol > li {
    color: #fff !important;
}

a {
    color: #09aaff
}

a:hover {
    color: #2aabd2;
}

.table-content {
    background-color: rgba(244,244,244 0.3);
    /*border-radius: 10px;*/
    color: #fff;
}

.fixed-table-header {
    padding-right: 2px !important;
}

#tableError > tbody > tr:hover {
    background-color: #222 !important;
}

table {
    border-left: 0 !important;
    border-right: 0 !important;
}

#tableError td {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.table-bordered > thead > tr > th {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 1px solid gray !important;
    border-bottom: 1px solid gray !important;
}

.fixed-table-body::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.fixed-table-body::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: gray;
}

.fixed-table-body::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #454d55;
}

.breadcrumb > li:nth-child(2):before {
    content: "|" !important;
}