/*navigation section*/

.NoChangeNav {
    background-color: var(--wihte);
    background-image: none;
    background-size: 100%;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 0.6s ease-in-out;
    background: #f5f5f5;
}

.NoChangeNav .nav-menu {
    justify-content: space-between;
}

.NoChangeNav .toggle-collapse {
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
    display: none;
}

.NoChangeNav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.NoChangeNav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.cpllapse {
    height: 30rem;
}

.card_front {
    direction: rtl;
}

.NoChangeNav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.NoChangeNav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.NoChangeNav .nav-menu .nav-brand a {
    font-size: 2rem;
    font-family: var(--Lexend);
    padding: 1rem 0;
    display: block;
}

.NoChangeNav .nav-menu .nav-items {
    display: flex;
    margin: 0;
}

.NoChangeNav .nav-menu #NavNoChange a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding: 5px 5px;
    margin: 5px 0;
    color: var(--sky--);
    line-height: 20px;
    font-weight: bold;
    z-index: 2;
}

.NoChangeNav .nav-menu #NavNoChange a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

.NoChangeNav .nav-menu #NavNoChange a:hover:before {
    transform: scaleY(1);
    opacity: 1;
}

.NoChangeNav .nav-menu #NavNoChange a:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--sky--);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: scale(0);
    transition: .5s;
    z-index: -1;
    border-radius: 5px;
}

.NoChangeNav .nav-menu .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    font-size: 1.1rem;
    font-family: var(--Abel);
    position: relative;
}

.NoChangeNav .nav-menu #NavNoChange a:hover:after {
    transform: scale(1);
}

.NoChangeNav .nav-menu .nav-items .nav-link:hover {
    background-color: var(--midnight);
}

.NoChangeNav .nav-menu .socal {
    padding: 1.4rem 0;
}

.NoChangeNav .nav-menu.socal i:hober {
    color: #a1c4cf;
}

#NavNoChange .nav-items .nav-link #linkedA:hover {
    color: #fff;
    z-index: 1;
}

.NavNoChange_fr {
    display: flex;
    max-height: 15px;
    justify-content: space-between;
    width: calc(100%);
}

.NavNoChange_fr a:nth-child(1) {
    border-right: 1px solid #dbdbdb;
}

.NavNoChange_fr a {
    color: #262626;
    padding: 0 10px;
    font-size: 14px;
}

.NavNoChange_fl {
    position: relative;
    display: flex;
    top: 5px;
    height: 15px;
}

.NavNoChange_search {
    position: relative;
    display: flex;
    top: 5px;
    height: 15px;
}

.NavNoChange_search input {
    border-color: var(--wihte);
    background-color: var(--wihte);
    text-indent: 8px;
    border-bottom: 1px solid #262626;
}

.NavNoChange_search i {
    cursor: pointer;
}

.NavNoChange_fl2 input {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #262626;
}

.NavNoChange_fl2 input::placeholder {
    color: var(--sky--);
}

.NavNoChange_fl2 input::after {
    border-bottom: 1px solid var(--sky--);
}

.NavNoChange_fr a:hover {
    color: blue;
}


/*navigation section*/