<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>RegistUser</servlet-name>
    <servlet-class>io.github.potatob6.Servlets.RegistUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>io.github.potatob6.Servlets.AddBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookClass</servlet-name>
    <servlet-class>io.github.potatob6.Servlets.AddBookClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryUser</servlet-name>
    <servlet-class>io.github.potatob6.Servlets.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegistUser</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookClass</servlet-name>
    <url-pattern>/addbookclass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUser</servlet-name>
    <url-pattern>/queryUser</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ChineseFilter</filter-name>
    <filter-class>io.github.potatob6.Filters.ChineseFilter</filter-class>
  </filter>
  <filter>
    <filter-name>RegistFilter</filter-name>
    <filter-class>io.github.potatob6.Filters.RegistFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AddBookFilter</filter-name>
    <filter-class>io.github.potatob6.Filters.AddBookFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AddBookClassFilter</filter-name>
    <filter-class>io.github.potatob6.Filters.AddBookClassFilter</filter-class>
  </filter>
  <filter>
    <filter-name>QueryUser</filter-name>
    <filter-class>io.github.potatob6.Filters.LoginFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AddBookFilter</filter-name>
    <url-pattern>/addBook</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RegistFilter</filter-name>
    <url-pattern>/regist</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ChineseFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AddBookClassFilter</filter-name>
    <url-pattern>/addbookclass</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>QueryUser</filter-name>
    <url-pattern>/queryUser</url-pattern>
  </filter-mapping>

</web-app>
